<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui">

    <application>
        <activity android:name=".wdg.SwitchActivity"></activity>
        <activity android:name=".wdg.CheckActivity" />
        <activity android:name=".wdg.BtnActivity" />
        <activity android:name=".wdg.IvActivity" />
        <activity android:name=".wdg.EvActivity" />
        <activity android:name=".wdg.TvActivity" />
        <activity android:name=".UiActivity" />
    </application>

</manifest>