<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".TransferActivity"></activity>
        <activity android:name=".ScanActivity" />
        <activity android:name=".DownloadActivity" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".ToolsActivity" />
    </application>

</manifest>